
<link rel="stylesheet" href="/css/chat-box.css">

<div class="chat-home">
    <div class="chat-seperate">
        <a href="/chatbox/Food">
            <img src="/images/food.svg" alt="CP">
        </a>
        <div class="category">
            <a href="/chatbox/Food">Food</a>
        </div>
        
    </div>
    <div class="chat-seperate">
        <a href="/chatbox/Career">
            <img src="/images/career.svg" alt="ML">
        </a>
        
        <div class="category">
            <a href="/chatbox/Career">Career</a>
        </div>
        
    </div>
    <div class="chat-seperate">
        <a href="/chatbox/Technology">
            <img src="/images/web-development.svg" alt="WebD">
        </a>
        <div class="category">
            <a href="/chatbox/Technology">Technology</a>
        </div>
    </div>
    <div class="chat-seperate">  
        <a href="/chatbox/Travel">
            <img src="/images/adventure.svg" alt="IP">
        </a> 
        
        <div class="category">
            <a href="/chatbox/Travel">Travel</a>
        </div>
        
    </div>
</div>



