<script src="/js/homepage.js"></script>
<link rel="stylesheet" href="/css/homepage.css">
<div class="beauty">
    <div class="logo">
        <img src="/images/SOCIO.CODES.png" alt="">
    </div>
    <%if(!locals.user){%>
        <div class="typing">
            <h2 class="css-typing"><span style="color:red">Socially</span> is an interactive social</h2>
            <h2 class="css-typing">networking platform where users can share </h2>
            <h2 class="css-typing">articles, have endless conversations</h2>
            <h2 class="css-typing"> and build authentic connections.</h2>
            
            <div class="accounts">
                <button class="create-account">
                    <a href="user/sign-up-page">Create Account</a>
                 </button>
                 <button class="create-account">
                     <a href="/user/sign-in-page">Sign In</a>
                  </button>
            </div>
            
        </div>
    <%}else{%>
        <div class="typing">
            <h2 class="css-typing">Hi <%=locals.user.user_name%>...</h2>
            <h2 class="css-typing">Welcome to <span style="color:red">Socially..</span></h2>
            <h2 class="css-typing">Go to blogs' page. Keep scrolling.... </h2>
            <h2 class="css-typing">Have fun....</h2>
            
            <div class="features">
                <button class="feature">
                    <a href="/blogs">Blogs</a>
                 </button>
                 <button class="feature">
                     <a href="/socio-chat">Chatrooms</a>
                  </button>
            </div>
            
            
        </div>
    <%}%>
    
    
        
</div>


